@media (min-width: 992px) {
  .card {
    max-width: 80%;
    margin: 0 auto;
  }
}

#venue-image {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#venue-div {
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.detailsText {
  text-align: start;
  font-size: 14px;
}

Card.Title {
  margin-top: 20px;
}

.text-center {
  margin: 30px auto;
  max-width: 60%;
}

#VenueFeatures {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#VenueCounter {
  margin-top: 10px;
  text-align: center;
}
