@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.inputWidth {
  width: 50%;
  margin: auto;
}

button {
  margin: 15px;
  border-radius: 2px;
}

.navbar-toggler {
  border: none;
}

.btn {
  border-radius: 2px;
}

.text-muted {
  padding-top: 10px;
}

.venue-card,
.text-center {
  border-radius: 3px;
}

.card-img-top,
.card-header {
  border-radius: 3px 3px 0 0;
}
