/* General Styles */
html,
body {
  height: 100%;
}

/* ContactUs.css */
.container {
  flex-grow: 1; /* Ensure the container takes up remaining space */
}

/* loginPage.css */
.jumbotron {
  flex-grow: 1;
}

/* Header Styles */
@media (max-width: 991.98px) {
  .d-flex {
    justify-content: center;
    margin-top: 30px;
  }

  .me-auto {
    margin: 0 20px 0 auto;
  }
}

/* Navbar Styles */
.navbar-brand p {
  margin: 0 30px 0 10px;
  font-size: 1.2rem;
}

.navbar-toggler {
  border: none;
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9998;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 30px;
  z-index: 9999;
}

/* Breadcrumbs Styles */
.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 650px) {
  .breadcrumbs {
    display: none;
  }
}

/* Venue Detail Styles */
@media (min-width: 992px) {
  .card {
    max-width: 80%;
    margin: 0 auto;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}

#venue-image {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#venue-div {
  margin: 20px auto 50px;
  max-width: 400px;
}

.detailsText {
  text-align: start;
  font-size: 14px;
}

#VenueFeatures,
#VenueCounter {
  margin-top: 30px;
  text-align: center;
}

.text-center {
  margin: 30px auto;
  max-width: 60%;
}

/* Venue Overview Styles */
div.jumbotron {
  text-align: center;
  background-color: var(--primary-color);
}

.venue-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.venue-card .card {
  height: 100%;
  max-height: 400px;
  min-height: 400px;
}

.list-group-item {
  text-align: initial;
  font-size: 15px;
  border-bottom: 0.5;
  color: var(--text-color);
}

#VenueFeatures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Common Styles */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.inputWidth {
  width: 60%;
  margin: 40px auto 0;
}

button,
.btn {
  margin: 15px;
  border-radius: 2px;
}

.banner {
  width: 100%;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.banner img {
  width: 100%;
  height: 25vh;
}

.profile-picture {
  max-height: 250px;
}

.text-muted {
  padding-top: 10px;
}

.text-center,
.venue-card {
  max-width: 600px;
  width: 100%;
  border-radius: 2px;
  border: none;
}

.card-img-top,
.card-header {
  border-radius: 2px 2px 0 0;
}

.card,
.venue-card {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px, rgba(0, 0, 0, 0.1) 0px 1px 3px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px;
}

.VenueContainer {
  background: #00000004;
  padding-bottom: 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.g-4 {
  padding-top: 20px;
}

.col-12 {
  margin-top: 40px;
}

.card-header {
  background-color: white;
}

.venue-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  min-width: 250px;
}

.venue-card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.venue-card .card-body {
  flex-grow: 1;
  overflow: hidden;
  color: var(--text-color);
}

.searchField {
  margin: auto;
  display: flex;
  align-items: center;
  width: 30vw;
  border-radius: 3px;
}

@media (max-width: 1100px) {
  .searchField {
    width: 70vw;
  }
}

.searchBtn {
  border-radius: 3px;
  font-size: 0.75rem;
  --bs-btn-padding-y: 0.45rem;
  --bs-btn-padding-x: 1rem;
}

.venue-card .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.my-4 {
  color: rgba(0, 0, 0, 0.269);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

/* Media Queries */
@media (max-width: 400px) {
  .jumbotron {
    padding: 2px;
    margin-top: 20px;
  }

  .navbar-nav {
    text-align: center;
  }

  .inputWidth {
    width: 100%;
    margin: auto;
  }

  ul.col-12 {
    flex-direction: column;
    text-align: center;
  }

  .text-center {
    max-width: 100%;
  }
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
