body {
  height: 100%;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* :root {
  --primary-color: #fff8f0;
  --secondary-color: #b14b59;
  --third-color: #d7a46f;
  --text-color: #845158;
} */

/* Update Bootstrap components to use custom colors
.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--third-color);
  border-color: var(--third-color);
  color: #ffffff;
}

.btn-outline-primary {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.nav-link {
  color: var(--secondary-color);
}
.nav-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.custom-third-color {
  color: var(--third-color);
}

.bg-color {
  background-color: var(--primary-color);
}

.border-bottom {
  border-bottom: 1px solid var(--secondary-color);
  border-color: var(--secondary-color);
}

.form-control {
  border: 0.5px solid var(--secondary-color);
}

footer.a {
  color: #white;
}
.nav:hover {
  color: var(--third-color);
  text-decoration: underline;
} */
